[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
pyserial = "*"
path = "*"
pathlib = "*"
pynng = "*"
isort = "*"
module-name = "*"
ipython = "*"
black = "*"
msgpack = "*"
msgpack-numpy = "*"
neurokit2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
